/**
 * @file edit-ui.theme.css
 *
 * Edit UI theme styling.
 */

/* Edit-ui toolbar. */
.edit-ui__toolbar {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.333);
}

.edit-ui__tabs {
  background-color: #e0e0d8;
}

[dir="rtl"] .edit-ui__tabs {
  padding: 0;
}

.edit-ui__tabs .edit-ui__tabs__link {
  border: 1px solid #bfbfbf;
  background-color: rgba(242, 242, 240, 0.7);
  color: #3b3b3b;
}

.edit-ui__tabs .edit-ui__tabs__link:hover {
  background-color: rgb(242, 242, 240);
}

.edit-ui__tabs .edit-ui__tabs__link.active,
.edit-ui__tabs .edit-ui__tabs__link.active:hover {
  background-color: rgb(255, 255, 255);
  border-color: transparent;
}

.edit-ui__toolbar .edit-ui__block {
  border-width: 0 1px 1px;
  border-color: #fff;
  border-style: solid;
}

.edit-ui__toolbar .edit-ui__block:first-child {
  border-top-width: 1px;
}

.edit-ui__toolbar .edit-ui__block:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.063);
}

.edit-ui__toolbar .edit-ui__block:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.105);
}

.edit-ui__toolbar .edit-ui__toolbar__button {
  border-radius: 0;
  color: #fff;
  border-color: #4cae4c;
  background-image: none;
  background-color: #5cb85c;
}

.edit-ui__toolbar .edit-ui__toolbar__button:focus,
.edit-ui__toolbar .edit-ui__toolbar__button:hover {
  border-radius: 0;
  color: #fff;
  border-color: #255625;
  background-color: #449d44;
}

.edit-ui__toolbar .edit-ui__toolbar__button.disabled,
.edit-ui__toolbar .edit-ui__toolbar__button[disabled] {
  cursor: not-allowed;
  opacity: .65;
}


/* Edit-ui regions. */
.edit-ui__region-label {
  height: 18px;
  line-height: 18px;
  padding: 0 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 0 0 10px 0;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
}

.is-edit-ui-body-dragging .edit-ui__region-block {
  outline: 1px solid rgb(170, 223, 255); /*aadfff*/
  box-shadow: 0 0 4px rgb(170, 223, 255);
}

.is-edit-ui-region-selected .edit-ui__region-block {
  outline: 1px solid rgb(0, 127, 255); /*#007fff*/
  box-shadow: 0 0 8px rgb(0, 127, 255);
}

.is-edit-ui-region-active .edit-ui__region-block {
  outline: 1px solid rgb(247, 135, 10); /*#f7870a*/
  box-shadow: 0 0 8px rgb(247, 135, 10);
}


/* Edit-ui blocks. */
.edit-ui__ghost,
.edit-ui__block {
  outline: 1px dashed #d6d6d6;
}

.edit-ui__ghost:hover,
.edit-ui__block:hover {
  outline: 1px dashed #007fff;
}

.edit-ui__dragging {
  background: #fff url(../icons/5181c6/move.svg) no-repeat center center;
  background-size: 32px 32px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.edit-ui__ghost--block {
  background: linear-gradient(45deg, rgba(0, 127, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 127, 255, 0.2) 50%, rgba(0, 127, 255, 0.2) 75%, transparent 75%);
  background-size: 50px 50px;
}

.edit-ui__ghost--dragging-block {
  background: linear-gradient(45deg, rgba(247, 135, 10, 0.2) 25%, transparent 25%, transparent 50%, rgba(247, 135, 10, 0.2) 50%, rgba(247, 135, 10, 0.2) 75%, transparent 75%);
  background-size: 50px 50px;
}

.edit-ui__block.is-unsaved {
  outline: 1px dashed rgb(247, 135, 10);
}


/* Edit-ui block's tooltip */
.edit-ui__tooltip {
  font-family: 'Source Sans Pro','Lucida Grande', sans-serif;
  padding-bottom: 7px;
  padding-top: 7px;
}

.edit-ui__tooltip__content {
  background-image: -webkit-linear-gradient(top, #fff, #e4e4e4);
  background-image: linear-gradient(to bottom, #fff, #e4e4e4);
  box-sizing: border-box;
  color: black;
  padding: 0.1667em;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}

.edit-ui__tooltip__pointer {
  background-color: #e4e4e4;
  bottom: 2px;
  box-shadow: 0 0 0 1px #818181, 0 0 0 4px rgba(150, 150, 150, 0.5);
  display: block;
  height: 16px;
  left: 18px; /* LTR */
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 16px;
  z-index: 1;
}

[dir="rtl"] .edit-ui__tooltip__pointer {
  left: auto;
  right: 18px;
}

.edit-ui__tooltip--top .edit-ui__tooltip__pointer {
  bottom: auto;
  top: 2px;
  background-color: #fff;
}

.edit-ui__tooltip__lining {
  bottom: 7px;
  box-shadow: 0 0 0 1px #818181, 0 3px 0 1px rgba(150, 150, 150, 0.5);
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 7px;
  z-index: 0;
}

.edit-ui__tooltip__label {
  font-style: italic;
  overflow: hidden;
  padding: 0.333em 0.4em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Trash element */
.edit-ui__trash {
  background-color: #3b3b3b;
  border: 1px solid #bfbfbf;
}

.edit-ui__trash-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(239, 239, 239);
}

.edit-ui__trash.is-edit-ui-region-active .edit-ui__trash-icon {
  background-image: url(../icons/ffffff/trash.svg), linear-gradient(to top, rgb(239, 239, 239), rgb(160, 160, 160));
}
